# ---------- PyCity Schools Analysis ----------

## ---------- District Summary ----------

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Renamed headers in the combined dataset
renamed = school_data_complete.rename(columns={"school_name":"School Name",
                                               "student_name":"Student Name",
                                               "gender":"Gender",
                                               "reading_score":"Reading Score",
                                               "math_score":"Math Score",
                                               "type":"Type",
                                               "size":"Size",
                                               "budget":"Budget",
                                               "grade":"Grade"})

# --------------------------

# Calculate the total number of schools
total_schools = school_data["School ID"].count()

# Calculate the total number of students
total_students = student_data["Student ID"].count()

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate the average math score
avg_math = renamed["Math Score"].mean()

# Calculate the average reading score
avg_read = renamed["Reading Score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = renamed.loc[(renamed["Math Score"] >= 70)]
math_pass_count = math_pass["Student ID"].count()
math_pass_percent = math_pass_count / total_students * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = renamed.loc[(renamed["Reading Score"] >= 70)]
read_pass_count = read_pass["Student ID"].count()
read_pass_percent = read_pass_count / total_students * 100

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_pass_percent = (math_pass_percent + read_pass_percent) / 2

# --------------------------

# Create dataframe
district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[total_budget],
                                    "Average Math Score":[avg_math],
                                    "Average Reading Score":[avg_read],
                                    "% Passing Math":[math_pass_percent],
                                    "% Passing Reading":[read_pass_percent],
                                    "Overall Passing Rate":[overall_pass_percent]})

# --------------------------

# Format dataframe
district_summary_df["Total Students"] = district_summary_df["Total Students"].astype(float).map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.0f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].astype(float).map("{:,.1f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].astype(float).map("{:,.1f}%".format)
district_summary_df["Overall Passing Rate"] = district_summary_df["Overall Passing Rate"].astype(float).map("{:,.1f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",79.0,81.9,75.0%,85.8%,80.4%

## ---------- School Summary ----------

  * Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  * Create a dataframe to hold the above results

In [12]:
# Get school_type column grouped by school name
school_type = renamed.groupby(['School Name']).max()["Type"]

# Get total_students column grouped by school name
total_students = renamed.groupby(['School Name']).count()["Student ID"]

# Get total_budget column grouped by school name
total_budget = renamed.groupby(['School Name']).mean()["Budget"]

# Get per_student_budget column grouped by school name
per_student_budget = total_budget / total_students

# Get avg_math_score column grouped by school name
avg_math_score = renamed.groupby(['School Name']).mean()["Math Score"]

# Get avg_read_score column grouped by school name
avg_read_score = renamed.groupby(['School Name']).mean()["Reading Score"]

# Get math_passing column grouped by school name
math_passing = renamed.loc[renamed["Math Score"] >=70].groupby(["School Name"]).count()["Math Score"]

# Get read_passing column grouped by school name
read_passing = renamed.loc[renamed["Reading Score"] >=70].groupby(["School Name"]).count()["Reading Score"]

# Get math_pass_rate column grouped by school name
math_pass_rate = math_passing / total_students * 100

# Get read_pass_rate column grouped by school name
read_pass_rate = read_passing / total_students * 100

# Get overall_pass_rate column grouped by school name
overall_pass_rate = (math_pass_rate + read_pass_rate) / 2

# --------------------------

# Create dataframe
school_summary = pd.DataFrame({"School Type":school_type,
                               "Total Students":total_students,
                               "Total School Budget":total_budget,
                               "Per Student Budget":per_student_budget,
                               "Average Math Score":avg_math_score,
                               "Average Reading Score":avg_read_score,
                               "% Passing Math":math_pass_rate,
                               "% Passing Reading":read_pass_rate,
                               "Overall Passing Rate":overall_pass_rate})

# Create dataframe
school_summary1 = pd.DataFrame({"School Type":school_type,
                               "Total Students":total_students,
                               "Total School Budget":total_budget,
                               "Per Student Budget":per_student_budget,
                               "Average Math Score":avg_math_score,
                               "Average Reading Score":avg_read_score,
                               "% Passing Math":math_pass_rate,
                               "% Passing Reading":read_pass_rate,
                               "Overall Passing Rate":overall_pass_rate})

# Create dataframe
school_summary2 = pd.DataFrame({"School Type":school_type,
                               "Total Students":total_students,
                               "Total School Budget":total_budget,
                               "Per Student Budget":per_student_budget,
                               "Average Math Score":avg_math_score,
                               "Average Reading Score":avg_read_score,
                               "% Passing Math":math_pass_rate,
                               "% Passing Reading":read_pass_rate,
                               "Overall Passing Rate":overall_pass_rate})

# --------------------------

# Format dataframe
school_summary_format = school_summary1
school_summary_format["Total Students"] = school_summary_format["Total Students"].astype(float).map("{:,.0f}".format)
school_summary_format["Total School Budget"] = school_summary_format["Total School Budget"].astype(float).map("${:,.0f}".format)
school_summary_format["Per Student Budget"] = school_summary_format["Per Student Budget"].astype(float).map("${:,.0f}".format)
school_summary_format["Average Math Score"] = school_summary_format["Average Math Score"].astype(float).map("{:,.1f}".format)
school_summary_format["Average Reading Score"] = school_summary_format["Average Reading Score"].astype(float).map("{:,.1f}".format)
school_summary_format["% Passing Math"] = school_summary_format["% Passing Math"].astype(float).map("{:,.1f}%".format)
school_summary_format["% Passing Reading"] = school_summary_format["% Passing Reading"].astype(float).map("{:,.1f}%".format)
school_summary_format["Overall Passing Rate"] = school_summary_format["Overall Passing Rate"].astype(float).map("{:,.1f}%".format)

school_summary_format

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7%,81.9%,74.3%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,95.6%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,73.4%
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3%,79.3%,73.8%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,95.3%
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8%,80.9%,73.8%
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5%,96.3%,94.4%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,73.6%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,95.3%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,73.3%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9%,95.9%,94.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,95.2%
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3%,96.6%,95.0%

## ---------- Top Performing Schools (By Passing Rate) ----------
* Sort and display the top five schools in overall passing rate

In [13]:
# Filter school_summary dataframe by top 5 Overall Passing Rate
top_perform = school_summary_format.sort_values("Overall Passing Rate", ascending=False)
top_perform.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,95.6%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,95.3%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,95.3%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,95.2%

## ---------- Bottom Performing Schools (By Passing Rate) ----------
* Sort and display the five worst-performing schools

In [14]:
# Filter school_summary dataframe by bottom 5 Overall Passing Rate
bottom_perform = school_summary_format.sort_values("Overall Passing Rate", ascending=True)
bottom_perform.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,73.3%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,73.4%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,73.6%
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3%,79.3%,73.8%

## ---------- Math Scores by Grade ----------
  * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
# Get avg_math_score columns from "renamed" dataset conditionally by grade
nine_filter = renamed.loc[renamed["Grade"] == "9th", :]
ten_filter = renamed.loc[renamed["Grade"] == "10th", :]
eleven_filter = renamed.loc[renamed["Grade"] == "11th", :]
twelve_filter = renamed.loc[renamed["Grade"] == "12th", :]

# --------------------------

# Get avg_math_score columns from conditional grade variables, grouped by School Name
nine_math_score = nine_filter.groupby(['School Name']).mean()["Math Score"]
ten_math_score = ten_filter.groupby(['School Name']).mean()["Math Score"]
eleven_math_score = eleven_filter.groupby(['School Name']).mean()["Math Score"]
twelve_math_score = twelve_filter.groupby(['School Name']).mean()["Math Score"]

# --------------------------

# Create dataframe
math_grade_summary = pd.DataFrame({"Avg 9th Grade Math Score":nine_math_score,
                                   "Avg 10th Grade Math Score":ten_math_score,
                                   "Avg 11th Grade Math Score":eleven_math_score,
                                   "Avg 12th Grade Math Score":twelve_math_score})

# --------------------------

# Format dataframe
math_grade_summary["Avg 9th Grade Math Score"] = math_grade_summary["Avg 9th Grade Math Score"].astype(float).map("{:,.1f}%".format)
math_grade_summary["Avg 10th Grade Math Score"] = math_grade_summary["Avg 10th Grade Math Score"].astype(float).map("{:,.1f}%".format)
math_grade_summary["Avg 11th Grade Math Score"] = math_grade_summary["Avg 11th Grade Math Score"].astype(float).map("{:,.1f}%".format)
math_grade_summary["Avg 12th Grade Math Score"] = math_grade_summary["Avg 12th Grade Math Score"].astype(float).map("{:,.1f}%".format)

math_grade_summary

,Avg 9th Grade Math Score,Avg 10th Grade Math Score,Avg 11th Grade Math Score,Avg 12th Grade Math Score
School Name,,,,
Bailey High School,77.1%,77.0%,77.5%,76.5%
Cabrera High School,83.1%,83.2%,82.8%,83.3%
Figueroa High School,76.4%,76.5%,76.9%,77.2%
Ford High School,77.4%,77.7%,76.9%,76.2%
Griffin High School,82.0%,84.2%,83.8%,83.4%
Hernandez High School,77.4%,77.3%,77.1%,77.2%
Holden High School,83.8%,83.4%,85.0%,82.9%
Huang High School,77.0%,75.9%,76.4%,77.2%
Johnson High School,77.2%,76.7%,77.5%,76.9%
Pena High School,83.6%,83.4%,84.3%,84.1%
Rodriguez High School,76.9%,76.6%,76.4%,77.7%
Shelton High School,83.4%,82.9%,83.4%,83.8%
Thomas High School,83.6%,83.1%,83.5%,83.5%
Wilson High School,83.1%,83.7%,83.2%,83.0%
Wright High School,83.3%,84.0%,83.8%,83.6%

## ---------- Reading Score by Grade ----------
* Perform the same operations as above for reading scores

In [16]:
# Get avg_read_score columns from conditional grade variables, grouped by School Name
nine_read_score = nine_filter.groupby(['School Name']).mean()["Reading Score"]
ten_read_score = ten_filter.groupby(['School Name']).mean()["Reading Score"]
eleven_read_score = eleven_filter.groupby(['School Name']).mean()["Reading Score"]
twelve_read_score = twelve_filter.groupby(['School Name']).mean()["Reading Score"]

# --------------------------

reading_grade_summary = pd.DataFrame({"Avg 9th Grade Reading Score":nine_read_score,
                                      "Avg 10th Grade Reading Score":ten_read_score,
                                      "Avg 11th Grade Reading Score":eleven_read_score,
                                      "Avg 12th Grade Reading Score":twelve_read_score})

# --------------------------

# Format dataframe
reading_grade_summary["Avg 9th Grade Reading Score"] = reading_grade_summary["Avg 9th Grade Reading Score"].astype(float).map("{:,.1f}%".format)
reading_grade_summary["Avg 10th Grade Reading Score"] = reading_grade_summary["Avg 10th Grade Reading Score"].astype(float).map("{:,.1f}%".format)
reading_grade_summary["Avg 11th Grade Reading Score"] = reading_grade_summary["Avg 11th Grade Reading Score"].astype(float).map("{:,.1f}%".format)
reading_grade_summary["Avg 12th Grade Reading Score"] = reading_grade_summary["Avg 12th Grade Reading Score"].astype(float).map("{:,.1f}%".format)

reading_grade_summary

,Avg 9th Grade Reading Score,Avg 10th Grade Reading Score,Avg 11th Grade Reading Score,Avg 12th Grade Reading Score
School Name,,,,
Bailey High School,81.3%,80.9%,80.9%,80.9%
Cabrera High School,83.7%,84.3%,83.8%,84.3%
Figueroa High School,81.2%,81.4%,80.6%,81.4%
Ford High School,80.6%,81.3%,80.4%,80.7%
Griffin High School,83.4%,83.7%,84.3%,84.0%
Hernandez High School,80.9%,80.7%,81.4%,80.9%
Holden High School,83.7%,83.3%,83.8%,84.7%
Huang High School,81.3%,81.5%,81.4%,80.3%
Johnson High School,81.3%,80.8%,80.6%,81.2%
Pena High School,83.8%,83.6%,84.3%,84.6%
Rodriguez High School,81.0%,80.6%,80.9%,80.4%
Shelton High School,84.1%,83.4%,84.4%,82.8%
Thomas High School,83.7%,84.3%,83.6%,83.8%
Wilson High School,83.9%,84.0%,83.8%,84.3%
Wright High School,83.8%,83.8%,84.2%,84.1%

## ---------- Scores by School Spending ----------
  * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 bins.
  * Include in the table each of the following:
      * Average Math Score
      * Average Reading Score
      * % Passing Math
      * % Passing Reading
      * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0.0, 585.0, 615.0, 645.0, 675.0]

group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# --------------------------

# Mirror school_summary
school_spending_bin = school_summary

# Add column for binning
school_spending_bin["Per Student Spend Group"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=group_names)

# Get bin_budget of all schools grouped into the newly created spending groups
bin_budget = school_spending_bin.groupby(['Per Student Spend Group']).sum()["Total School Budget"]

# Get bin_math of all schools grouped into the newly created spending groups
bin_math = school_spending_bin.groupby(['Per Student Spend Group']).mean()["Average Math Score"]

# Get bin_read of all schools grouped into the newly created spending groups
bin_read = school_spending_bin.groupby(['Per Student Spend Group']).mean()["Average Reading Score"]

# Get bin_math_per of all schools grouped into the newly created spending groups
bin_math_per = school_spending_bin.groupby(['Per Student Spend Group']).mean()["% Passing Math"]

# Get bin_read_per of all schools grouped into the newly created spending groups
bin_read_per = school_spending_bin.groupby(['Per Student Spend Group']).mean()["% Passing Reading"]

# Get bin_overall_per of all schools grouped into the newly created spending groups
bin_overall_per = school_spending_bin.groupby(['Per Student Spend Group']).mean()["Overall Passing Rate"]

# --------------------------

# Create dataframe
scores_spending = pd.DataFrame({"Combined Budget":bin_budget,
                                "Average Math Score":bin_math,
                                "Average Reading Score":bin_read,
                                "% Passing Math":bin_math_per,
                                "% Passing Reading":bin_read_per,
                                "Overall Passing Rate":bin_overall_per})

# --------------------------

# Format dataframe
scores_spending_format = scores_spending
scores_spending_format["Combined Budget"] = scores_spending["Combined Budget"].astype(float).map("${:,.0f}".format)
scores_spending_format["Average Math Score"] = scores_spending["Average Math Score"].astype(float).map("{:,.1f}".format)
scores_spending_format["Average Reading Score"] = scores_spending["Average Reading Score"].astype(float).map("{:,.1f}".format)
scores_spending_format["% Passing Math"] = scores_spending["% Passing Math"].astype(float).map("{:,.1f}%".format)
scores_spending_format["% Passing Reading"] = scores_spending["% Passing Reading"].astype(float).map("{:,.1f}%".format)
scores_spending_format["Overall Passing Rate"] = scores_spending["Overall Passing Rate"].astype(float).map("{:,.1f}%".format)

scores_spending_format

,Combined Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Spend Group,,,,,,
<$585,"$3,698,417",83.5,83.9,93.5%,96.6%,95.0%
$585-615,"$1,642,458",83.6,83.9,94.2%,95.9%,95.1%
$615-645,"$11,281,248",79.1,81.9,75.7%,86.1%,80.9%
$645-675,"$8,027,305",77.0,81.0,66.2%,81.1%,73.6%

## ---------- Scores by School Size ----------
* Perform the same operations as above, based on school size.

In [19]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_size_bin = school_summary

# Create column for groups
school_size_bin["School Size Group"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_names)

# --------------------------

# Get size_budget of all schools grouped into the newly created size groups
size_budget = school_size_bin.groupby(['School Size Group']).sum()["Total School Budget"]

# --------------------------

# Get size_math of all schools grouped into the newly created size groups
size_math = school_size_bin.groupby(['School Size Group']).mean()["Average Math Score"]

# --------------------------

# Get size_read of all schools grouped into the newly created size groups
size_read = school_size_bin.groupby(['School Size Group']).mean()["Average Reading Score"]

# --------------------------

# Get size_math_per of all schools grouped into the newly created size groups
size_math_per = school_size_bin.groupby(['School Size Group']).mean()["% Passing Math"]

# --------------------------

# Get size_read_per of all schools grouped into the newly created size groups
size_read_per = school_size_bin.groupby(['School Size Group']).mean()["% Passing Reading"]

# --------------------------

# Get size_overall_per of all schools grouped into the newly created size groups
size_overall_per = school_size_bin.groupby(['School Size Group']).mean()["Overall Passing Rate"]

# --------------------------

# Create dataframe
scores_size = pd.DataFrame({"Combined Budget":size_budget,
                                "Average Math Score":size_math,
                                "Average Reading Score":size_read,
                                "% Passing Math":size_math_per,
                                "% Passing Reading":size_read_per,
                                "Overall Passing Rate":size_overall_per})

# --------------------------

# Format dataframe
scores_size_format = scores_size
scores_size_format["Combined Budget"] = scores_size_format["Combined Budget"].astype(float).map("${:,.0f}".format)
scores_size_format["Average Math Score"] = scores_size_format["Average Math Score"].astype(float).map("{:,.1f}".format)
scores_size_format["Average Reading Score"] = scores_size_format["Average Reading Score"].astype(float).map("{:,.1f}".format)
scores_size_format["% Passing Math"] = scores_size_format["% Passing Math"].astype(float).map("{:,.1f}%".format)
scores_size_format["% Passing Reading"] = scores_size_format["% Passing Reading"].astype(float).map("{:,.1f}%".format)
scores_size_format["Overall Passing Rate"] = scores_size_format["Overall Passing Rate"].astype(float).map("{:,.1f}%".format)

scores_size_format

,Combined Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size Group,,,,,,
Small (<1000),"$833,945",83.8,83.9,93.6%,96.1%,94.8%
Medium (1000-2000),"$5,147,986",83.4,83.9,93.6%,96.8%,95.2%
Large (2000-5000),"$18,667,497",77.7,81.3,70.0%,82.8%,76.4%

## ---------- Scores by School Type ----------
* Perform the same operations as above, based on school type.

In [20]:
school_type_bin = school_summary2

# Get type_budget of all schools grouped into the newly created type groups
type_budget = school_type_bin.groupby(["School Type"]).sum()["Total School Budget"]

# Get type_math of all schools grouped into the newly created type groups
type_math = school_type_bin.groupby(['School Type']).mean()["Average Math Score"]

# Get type_read of all schools grouped into the newly created type groups
type_read = school_type_bin.groupby(['School Type']).mean()["Average Reading Score"]

# Get type_math_per of all schools grouped into the newly created type groups
type_math_per = school_type_bin.groupby(['School Type']).mean()["% Passing Math"]

# Get type_read_per of all schools grouped into the newly created type groups
type_read_per = school_type_bin.groupby(['School Type']).mean()["% Passing Reading"]

# Get type_overall_per of all schools grouped into the newly created type groups
type_overall_per = school_type_bin.groupby(['School Type']).mean()["Overall Passing Rate"]

# Create dataframe
scores_type = pd.DataFrame({"Combined Budget":type_budget,
                            "Average Math Score":type_math,
                            "Average Reading Score":type_read,
                            "% Passing Math":type_math_per,
                            "% Passing Reading":type_read_per,
                            "Overall Passing Rate":type_overall_per})

# --------------------------

# Format dataframe
scores_type_format = scores_type
scores_type_format["Combined Budget"] = scores_type_format["Combined Budget"].astype(float).map("${:,.0f}".format)
scores_type_format["Average Math Score"] = scores_type_format["Average Math Score"].astype(float).map("{:,.1f}".format)
scores_type_format["Average Reading Score"] = scores_type_format["Average Reading Score"].astype(float).map("{:,.1f}".format)
scores_type_format["% Passing Math"] = scores_type_format["% Passing Math"].astype(float).map("{:,.1f}%".format)
scores_type_format["% Passing Reading"] = scores_type_format["% Passing Reading"].astype(float).map("{:,.1f}%".format)
scores_type_format["Overall Passing Rate"] = scores_type_format["Overall Passing Rate"].astype(float).map("{:,.1f}%".format)

scores_type_format

,Combined Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,,
Charter,"$7,301,505",83.5,83.9,93.6%,96.6%,95.1%
District,"$17,347,923",77.0,81.0,66.5%,80.8%,73.7%